USE [Pln_Db]
GO
/****** Object:  StoredProcedure [dbo].[USP_StoringMDCMizan]    Script Date: 9/27/2025 3:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   Proc [dbo].[USP_StoringMDCMizan] @Day_Num int
as
begin
	set nocount on;
	if @Day_Num <= 0
		begin
			RAISERROR('Please Enter a Positive Number!', 16, 1);
		end

	else
	  begin
		begin try
			begin tran
				drop Table if exists #temp1 

				select distinct cast(InsertDateTime  as Date) as distinctdate
				into #temp1 from [Material].[MDC_WIP_Mizan]
				where datediff(day, getdate(), cast(InsertDateTime  as Date)) <= @Day_Num
				order by distinctdate

				delete from [Material].[MDC_WIP_Mizan]
				where cast([InsertDateTime] as Date) not in (select distinctdate from #temp1)

			commit tran
		end try

		begin catch
			rollback tran

			DECLARE @ErrorMsg NVARCHAR(4000) = ERROR_MESSAGE();
			DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
			DECLARE @ErrorState INT = ERROR_STATE();
    
			RAISERROR(@ErrorMsg, @ErrorSeverity, @ErrorState);
			-- RAISERROR('Error in USP_StoringMDCMizan!', 16, 1);
		end catch
	  end

end